<nav id="main-header" class="custom-header app-header">
    <div>
        <div class="navbar-nav">
            <a routerLink="/matches" class="logreg">Matches</a>
            <a routerLink="/players" class="logreg">Players</a>
            <a routerLink="/tournaments" class="logreg">Tournaments</a>
        </div>

        <div class="brand-title">
            <div class="main-title">Bonzo Byte</div>
        </div>

        <div class="navbar-nav">
            <ng-container *ngIf="!isLoggedIn; else loggedIn">
                <button type="button" class="logreg" (click)="openLoginModal()">{{ 'login' | translate }}</button>
                <button type="button" class="logreg" (click)="openRegisterModal()">{{ 'register' | translate }}</button>
            </ng-container>

            <ng-template #loggedIn>
                <div class="user-block">
                    <span>Welcome {{ userDisplayName }}</span>

                    <img class="user-avatar" [src]="user?.avatarUrl || 'assets/images/defaultUser.png'" alt="Avatar"
                        (click)="openUserModal()" />

                    <button type="button" class="logreg" (click)="logout()">{{ 'logout' | translate }}</button>
                </div>
            </ng-template>
        </div>
    </div>
</nav>

<app-register *ngIf="showRegisterModal" (closed)="closeRegisterModal()"></app-register>
<app-login *ngIf="showLoginModal" (closed)="closeLoginModal()"></app-login>
<app-billing-modal *ngIf="showBillingModal" (closed)="closeBillingModal()"></app-billing-modal>