<app-bb-modal-shell
  title="Player Details"
  modalClass="bb-modal--player-details"
  (closed)="close()"
>
  <div class="bb-tabs">
    <button
      type="button"
      class="bb-tab"
      [class.active]="activeTab === 'overview'"
      (click)="setTab('overview')">
      Overview
    </button>

    <button
      type="button"
      class="bb-tab"
      [class.active]="activeTab === 'matches'"
      (click)="setTab('matches')">
      Matches
    </button>

    <button
      type="button"
      class="bb-tab"
      [class.active]="activeTab === 'ts'"
      (click)="setTab('ts')">
      TS
    </button>

    <button
      type="button"
      class="bb-tab"
      [class.active]="activeTab === 'performance'"
      (click)="setTab('performance')">
      Performance
    </button>
  </div>

  <div class="bb-body">
    <section *ngIf="activeTab === 'overview'" class="bb-panel bb-player-overview">
      <div class="bb-player-hero">
    
        <div class="bb-player-identity">
          <span class="bb-player-flag">
            <span class="fi fi-hr"></span>
          </span>
    
          <div class="bb-player-title">
            Player Name <span class="bb-player-iso">(CRO)</span>
          </div>
        </div>
    
        <div class="bb-player-avatar">
          <img
          src="https://bonzobyte-backend.onrender.com/api/archives/players/photo/483767"
            alt="Player avatar" />
        </div>
    
        <div class="bb-player-meta">
          <ng-container *ngIf="countryText">
            <div class="bb-k">Country</div>
            <div class="bb-v">{{ countryText }}</div>
          </ng-container>
        
          <ng-container *ngIf="bornText">
            <div class="bb-k">Born</div>
            <div class="bb-v">{{ bornText }}</div>
          </ng-container>
        
          <ng-container *ngIf="playsText">
            <div class="bb-k">Plays</div>
            <div class="bb-v">{{ playsText }}</div>
          </ng-container>
        
          <ng-container *ngIf="heightText">
            <div class="bb-k">Height</div>
            <div class="bb-v">{{ heightText }}</div>
          </ng-container>
        </div>
    
      </div>
    </section>

    <section *ngIf="activeTab === 'matches'" class="bb-panel">
      <div class="bb-placeholder">Matches layout dolazi kasnije.</div>
    </section>

    <section *ngIf="activeTab === 'ts'" class="bb-panel">
      <div class="bb-placeholder">TS layout dolazi kasnije.</div>
    </section>

    <section *ngIf="activeTab === 'performance'" class="bb-panel">
      <div class="bb-placeholder">Performance layout dolazi kasnije.</div>
    </section>
  </div>
</app-bb-modal-shell>