.matches-page .match-table th:nth-child(1),
.matches-page .match-table td:nth-child(1) {
    min-width: 106px !important;
    max-width: 106px !important;
}

.matches-page .match-table th:nth-child(2),
.matches-page .match-table td:nth-child(2) {
    min-width: 37px !important;
    max-width: 37px !important;
}

.matches-page .match-table th:nth-child(4),
.matches-page .match-table td:nth-child(4) {
    min-width: 98px !important;
    max-width: 98px !important;
}

.matches-page .match-table th:nth-child(5),
.matches-page .match-table td:nth-child(5) {
    min-width: 48px !important;
    max-width: 48px !important;
}

.matches-page .match-table th:nth-child(6),
.matches-page .match-table td:nth-child(6) {
    min-width: 54px !important;
    max-width: 54px !important;
}

.matches-page .match-table th:nth-child(9),
.matches-page .match-table td:nth-child(9) {
    min-width: 45px !important;
    max-width: 45px !important;
}

.matches-page .match-table th:nth-child(11),
.matches-page .match-table td:nth-child(11) {
    min-width: 95px !important;
    max-width: 95px !important;
}

.matches-page .match-table th:nth-child(12),
.matches-page .match-table td:nth-child(12) {
    min-width: 105px !important;
}

.matches-page .match-table th:nth-child(13),
.matches-page .match-table td:nth-child(13) {
    min-width: 49px !important;
    max-width: 49px !important;
}

.matches-page .match-table th:nth-child(14),
.matches-page .match-table td:nth-child(14) {
    min-width: 50px !important;
    max-width: 50px !important;
}