<div class="bb-backdrop" appAccessibleClick (accessibleClick)="onBackdropClick()">
    <div [class]="modalClassList" role="dialog" aria-modal="true" [attr.aria-labelledby]="titleId" appTrapFocus
        (click)="$event.stopPropagation()">
        <button class="close-button" type="button" appAccessibleClick (accessibleClick)="close()" aria-label="Close">
            ×
        </button>

        <h4 [id]="titleId" class="text-center">{{ title }}</h4>

        <div *ngIf="subtitle" class="bb-hint bb-modal-subtitle">{{ subtitle }}</div>

        <!-- BODY (everything except [bbActions]) -->
        <ng-content select=":not([bbActions])"></ng-content>

        <!-- ACTIONS (optional slot) -->
        <ng-content select="[bbActions]"></ng-content>
    </div>
</div>