<app-bb-modal-shell title="Zaboravljena lozinka" subtitle="Upiši email i poslat ćemo ti link za reset lozinke."
    (closed)="close()">
    <form [formGroup]="emailForm" (ngSubmit)="requestReset()" autocomplete="off" novalidate>
        <div class="form-row">
            <label for="email">Email adresa:</label>
            <input id="email" formControlName="email" type="email" placeholder="Unesi svoj email" autocomplete="email"
                [class.invalid]="emailForm.get('email')?.invalid && (emailForm.get('email')?.touched || submitted)" />

            <div class="error-placeholder">
                <p class="error"
                    *ngIf="emailForm.get('email')?.hasError('required') && (emailForm.get('email')?.touched || submitted)">
                    Obavezno
                </p>
                <p class="error"
                    *ngIf="emailForm.get('email')?.hasError('email') && (emailForm.get('email')?.touched || submitted)">
                    Neispravan email.
                </p>
            </div>
        </div>

        <div bbActions class="bb-actions">
            <button type="button" class="oauth-btn" (click)="close()">Cancel</button>

            <button type="submit" class="oauth-btn oauth-btn-primary" [disabled]="emailForm.invalid">
            </button>
        </div>
    </form>
</app-bb-modal-shell>